In [60]:
import random
import numpy as np
import pandas as pd
from gmplot import gmplot
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [61]:
city_name = 'delhi-1'

In [62]:
# file_name = city_name + '-reduced_amenity.csv'
file_name = "data/" + city_name + '-dbscan.csv'
data = pd.read_csv(file_name)
print(data.shape)
data.head()

(3397, 5)

     node_id        lat        lon                   name   amenity
0  248852574  28.533492  77.151895        Cafe Coffee Day      cafe
1  248852583  28.533647  77.152001  ICICI, SBI, Citibank,      bank
2  249054695  28.489238  77.090988                    NaN      fuel
3  249132373  28.450926  77.087609        Paras Hospitals  hospital
4  249132375  28.440015  77.102391        HDFC Bank & ATM      bank

In [63]:
amenities = list(data.amenity)
print(len(amenities), len(set(amenities)))

3397 59

In [64]:
amenities_dict = {i:amenities.count(i) for i in set(amenities)}
for k, v in amenities_dict.items(): print(k, ":", v)

nightclub : 7
clinic : 40
community_centre : 17
taxi : 23
post_box : 20
Suvidha Market, Netaji Nagar : 1
cafe : 174
nursing_home : 1
Drinking_Water : 1
hospital : 84
events_venue : 5
coworking_space : 1
police : 46
restaurant : 374
doctors : 23
architect : 1
school : 154
cinema : 38
memorial : 1
swimming_pool : 4
bank : 346
place_of_worship : 273
courthouse : 1
music_school : 4
Netaji Nagar Market : 1
parking : 67
fire_station : 13
pub : 7
library : 13
fast_food;bar : 1
fuel : 223
marketplace : 35
parking_entrance : 4
internet_cafe : 3
public_building : 6
food_court : 5
crematorium : 2
driving_school : 1
college : 30
dentist : 21
disused : 1
toilets : 300
cafe;coworking_space : 1
theatre : 15
fast_food : 245
ice_cream : 16
money_transfer : 1
bar : 50
bus_station : 26
club : 1
studio : 2
kindergarten : 13
pharmacy : 109
atm : 419
university : 5
post_office : 31
parking_space : 4
embassy : 37
drinking_water : 50

In [65]:
sorted_dict = sorted(amenities_dict.items(), key=lambda kv: kv[1])
sorted_dict

[('Suvidha Market, Netaji Nagar', 1),
 ('nursing_home', 1),
 ('Drinking_Water', 1),
 ('coworking_space', 1),
 ('architect', 1),
 ('memorial', 1),
 ('courthouse', 1),
 ('Netaji Nagar Market', 1),
 ('fast_food;bar', 1),
 ('driving_school', 1),
 ('disused', 1),
 ('cafe;coworking_space', 1),
 ('money_transfer', 1),
 ('club', 1),
 ('crematorium', 2),
 ('studio', 2),
 ('internet_cafe', 3),
 ('swimming_pool', 4),
 ('music_school', 4),
 ('parking_entrance', 4),
 ('parking_space', 4),
 ('events_venue', 5),
 ('food_court', 5),
 ('university', 5),
 ('public_building', 6),
 ('nightclub', 7),
 ('pub', 7),
 ('fire_station', 13),
 ('library', 13),
 ('kindergarten', 13),
 ('theatre', 15),
 ('ice_cream', 16),
 ('community_centre', 17),
 ('post_box', 20),
 ('dentist', 21),
 ('taxi', 23),
 ('doctors', 23),
 ('bus_station', 26),
 ('college', 30),
 ('post_office', 31),
 ('marketplace', 35),
 ('embassy', 37),
 ('cinema', 38),
 ('clinic', 40),
 ('police', 46),
 ('bar', 50),
 ('drinking_water', 50),
 ('parking', 67),
 ('hospital', 84),
 ('pharmacy', 109),
 ('school', 154),
 ('cafe', 174),
 ('fuel', 223),
 ('fast_food', 245),
 ('place_of_worship', 273),
 ('toilets', 300),
 ('bank', 346),
 ('restaurant', 374),
 ('atm', 419)]

In [66]:
food_list = ['restaurant', 'fast_food', 'cafe', 'bar', 'ice_cream', 'fast_food;bar', 'food_court', 'club', 'drinking_water']
market_list = ['marketplace', 'internet_cafe']
bank_list = ['atm', 'bank', ]
toilets_list = ['toilets']
education_list = ['school', 'college', 'university']
hospital_list = ['pharmacy', 'hospital', 'clinic', 'dentist', 'nursing_home']
parking_list = ['parking']
entertainment_list = ['cinema', 'theatre', 'nightclub', 'cafe;coworking_space', 'studio', 'internet_cafe', 
                 'swimming_pool', 'library']
worship_list = ['place_of_worship']
fuel_list = ['fuel', 'fire_station']
others_list = ['post_box', 'community_centre', 'post_office', 'embassy', 'police', 'bus_station', 'public_building',
                'taxi']
# ---
amenity_list = ['food_list', 'market_list', 'bank_list', 'toilets_list', 'education_list', 
'hospital_list', 'parking_list', 'entertainment_list', 'worship_list', 'fuel_list', 'others_list']

In [67]:
food,market,bank,toilets,education,hospital,parking,entertainment,worship,fuel,others = [],[],[],[],[],[],[],[],[],[],[]

for value in data.values:
    if value[4] in food_list:     food.append([value[1], value[2]])
    elif value[4] in market_list:     market.append([value[1], value[2]])    
    elif value[4] in bank_list:     bank.append([value[1], value[2]])    
    elif value[4] in toilets_list:     toilets.append([value[1], value[2]])    
    elif value[4] in education_list:     education.append([value[1], value[2]])    
    elif value[4] in hospital_list:     hospital.append([value[1], value[2]])    
    elif value[4] in parking_list:     parking.append([value[1], value[2]])    
    elif value[4] in entertainment_list:     entertainment.append([value[1], value[2]])    
    elif value[4] in worship_list:     worship.append([value[1], value[2]])    
    elif value[4] in fuel_list:     fuel.append([value[1], value[2]])    
    elif value[4] in others_list:     others.append([value[1], value[2]])

In [68]:
amenities_list = [food,market,bank,toilets,education,hospital,parking,entertainment,worship,fuel,others]
amenities_str = ['food','market','bank','toilets','education','hospital','parking','entertainment','worship','fuel','others']

In [69]:
for i, item in enumerate(amenities_list):
    print(amenities_str[i], ":", len(item))

food : 916
market : 38
bank : 765
toilets : 300
education : 189
hospital : 255
parking : 67
entertainment : 80
worship : 273
fuel : 236
others : 206

In [70]:
# Convex Hull
# point class with x, y as point 
class Point: 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 

def Left_index(points): 
    ''' Finding the left most point '''
    minn = 0
    for i in range(1,len(points)): 
        if points[i].x < points[minn].x: 
            minn = i 
        elif points[i].x == points[minn].x: 
            if points[i].y > points[minn].y: 
                minn = i 
    return minn 

def orientation(p, q, r): 
    val = (q.y - p.y) * (r.x - q.x) - (q.x - p.x) * (r.y - q.y) 
    if val == 0: 
        return 0
    elif val > 0: 
        return 1
    else: 
        return 2

def convexHull(points, n): 
    # There must be at least 3 points 
    if n < 3: 
        return

    l = Left_index(points) 
    hull = [] 
    p = l 
    q = 0
    while(True): 
        # Add current point to result 
        hull.append(p) 
        q = (p + 1) % n         
        for i in range(n): 
            
            # If i is more counterclockwise than current q, then update q 
            if(orientation(points[p], points[i], points[q]) == 2): 
                q = i 
        p = q 
        # While we don't come to first point 
        if(p == l): 
            break
    # Print Result 
    result = []
    for each in hull: 
        result.append([points[each].x, points[each].y]) 
    return result

# Plot food on GMaps

In [71]:
for i in range(amenities_list):
    amenity_array = amenities_list[i]
    amenity_name = amenities_str[i]

TypeError: 'list' object cannot be interpreted as an integer

In [72]:
amenities_str

['food',
 'market',
 'bank',
 'toilets',
 'education',
 'hospital',
 'parking',
 'entertainment',
 'worship',
 'fuel',
 'others']

In [114]:
for i in range(len(amenities_list)):
    amenity_array = amenities_list[i]
    amenity_name = amenities_str[i]
    
#     amenity_array = market
#     amenity_name = 'market'
    

    # amenity_array = food
    # amenity_name = 'food'
    amenity_df = pd.DataFrame(amenity_array, columns = ['lat', 'lon'])

    # Fitting K-Means to the dataset
    if len(amenity_array) < 60: n_clusters = len(amenity_array)
    else: n_clusters = 20

    kmeans = KMeans(n_clusters, init = 'k-means++', random_state = 42)
    y_kmeans = kmeans.fit_predict(amenity_array)

    # Convex Hull
    def apply_convex_hull(coordinates):
        points = []
        for coordinate in coordinates:
            x, y = coordinate[0], coordinate[1]
            points.append(Point(x,y))  
        return convexHull(points, len(points))


    polygon = []
    amenity_array = np.array(amenity_array)
    for i in range(n_clusters):
        polygon.append(apply_convex_hull(amenity_array[y_kmeans == i]))


    # convert polygon into [(lat, lon), (lat, lon), (lat, lon)] format
    poly_coord = []
    for i in range(len(polygon)):
        if polygon[i] is None: continue
        lat = [x[0] for x in polygon[i]]
        long = [x[1] for x in polygon[i]]
        poly_coord.append([lat, long])

    print(n_clusters, len(polygon))

    # plot polygon using gmplot
    min_lat, max_lat, min_lon, max_lon = min(amenity_df['lat']), max(amenity_df['lat']), min(amenity_df['lon']), max(amenity_df['lon'])
    mymap = gmplot.GoogleMapPlotter(
        min_lat + (max_lat - min_lat) / 2, 
        min_lon + (max_lon - min_lon) / 2, 
        12)

    r = lambda: random.randint(0,255)
    colour = '#%02X%02X%02X' % (r(),r(),r()) # colour for plotting polygon

    for i in range(amenity_df.shape[0]):
        mymap.scatter([amenity_df.iloc[i]['lat']], [amenity_df.iloc[i]['lon']], colour, size=40, marker=False)
    
    for i in range(len(poly_coord)):
        lat = poly_coord[i][0]
        long = poly_coord[i][1]
        mymap.scatter( lat, long, 'red', size = 40, marker = False)
        mymap.polygon(lat, long, 'red')
        
    file_name = "data/amenity/" + amenity_name + '-polygon' + '.html'
    mymap.draw(file_name)
    print(file_name)

20 20
data/amenity/food-polygon.html
38 38
data/amenity/market-polygon.html
20 20
data/amenity/bank-polygon.html
20 20
data/amenity/toilets-polygon.html
20 20
data/amenity/education-polygon.html
20 20
data/amenity/hospital-polygon.html
20 20
data/amenity/parking-polygon.html
20 20
data/amenity/entertainment-polygon.html
20 20
data/amenity/worship-polygon.html
20 20
data/amenity/fuel-polygon.html
20 20
data/amenity/others-polygon.html

In [102]:
# file_name = "data/amenity/" + amenity_name + '-polygon' + '.html'
# mymap.draw(file_name)
# print(file_name)

In [96]:
poly_coord

[[[28.504091100000004, 28.5049584, 28.5049584],
  [77.184885, 77.1849078, 77.1849078]],
 [[28.4788836, 28.4811774, 28.4802325],
  [77.08036170000003, 77.0801408, 77.0803027]]]

In [112]:
len(amenity_array)

38